.article {
    width: 100%;

    .entryAutorAndSocial {
        margin: 2rem auto;

        .autorAndDate {
            span {
                display: block;
                margin-bottom: .3rem;

                strong {
                    color: var(--purple);
                }
            }

            time {

                font-size: 1rem;
            }
        }
    }

    picture {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .content {
        margin-top: 3rem;

        p {
            font-size: 1.3rem;
            line-height: 1.9rem;
            margin-bottom: 2.5rem;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .article {
        width: 40%;
        margin: 0 auto;
    }
}


